body {
    background-image: linear-gradient(to top, rgb(90, 74, 163), rgba(170, 157, 255, 1));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
    background-color: rgba(35, 28, 45, 0.899);
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.6);
}

main h1 {
    margin-bottom: 6vh;
    color: #b6b6b6;
}

main p {
    color: #b6b6b6;
}


.base label {
    color: #b6b6b6;
    display: block;
    text-align: start;
    margin-top: 10px;
}

.base input {
    border-radius: 30px;
    display: block;
    padding: 10px;
    width: auto;
    min-width: 40vw;
    background-color: rgba(170, 157, 255, 0.222);
    color: #b6b6b6;
    border: none;
}

.base input::placeholder {
    color: #171717;
}

.base input:focus {
    background-color: rgba(170, 157, 255, 0.429);
}

.control {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.control span {
    color: #b6b6b6;
    margin: 0 8px;
}

.control button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(170, 157, 255, 1);
    cursor: pointer;
    border: none;
}


.control button:hover {
    background-color: rgba(170, 157, 255, 0.429);
}


.control div:nth-child(1) p {
    text-align: start;
}

.control div:nth-child(2) p {
    text-align: end;
}

.total {
    font-weight: bold;
}